html,body {
  width:100vw;
  height: 100vh;
  margin: 0;
  font-family: 'Spectral', serif !important;
  overflow: hidden;
}
h1,h2 {
  font-family: 'Spectral', serif !important;
}
#videoBG {
  position:fixed;
  left:0px;
  z-index: -1;
  width: 100%;
  filter: brightness(50%);
}
#picBG {
  display: none;
}
@media (min-aspect-ratio: 16/9) {
  #videoBG {
      width:100%;
      height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  #videoBG { 
      width:auto;
      height: 100%;
  }
} 
@media (max-width: 767px) {
  #videoBG {
      display: none;
  }
  #picBG {
    position:fixed;
    width: 100%;
      display: block;
      z-index: -1;
      filter: brightness(50%);
  }
}